nav {
  background-color: $primary-color;
  position: fixed;
  padding: 0 2em;
  width: 100%;
  height: $nav-height;
  z-index: 10;

  a {
    text-decoration: none;
  }

  .header {
    float: left;
    font-size: 2em;
    color: $secondary-color;
    padding: 0 10px;
    line-height: $nav-height;
  }

  .logo {
    float: left;
    height: $nav-height;
    width: $nav-height;
  }

  .btn {
    padding: 15px 10px;
    float: right;
    margin: 10px 0 10px 10px;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 24px;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  .compose, .logout {
    display: none;
  }

  .logged-in, .logged-in-label {
    font-size: 1.3em;
    color: $secondary-color;
    line-height: $nav-height;
    float: right;
    padding-left: 3px;
  }
  @media (max-width: 768px) {
    padding: 0 1em;
    .nav-btn-text, .logged-in {
      display: none;
    }
    .btn {
      padding: 4px 4px 0 8px;
      margin: 16px 0 16px 5px;
      font-size: 36px;
      border-radius: 10px;
    }
  }
}