html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

main.container {
  background-color: white;
  width: 450px;
  margin: 0 auto 0;
  padding-top: 140px;
  padding-bottom: 1px;
}

.flash-message {
  display: none;
  background-color: white;
  color: black;
  font-size: 0.8em;
  position: absolute;
  margin: 1px 0 0 5px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #D6D6D6;
}

label {
  display: inline-block;
  width: 400px;
  text-align:right;
  font-size: 1.5em;
}

input[type="text"], input[type="password"] {
  width: 275px;
  margin: 20px 0 0 10px;
  padding: 5px;
}

input[type="submit"] {
  margin: 20px auto;
  display: block;
  font-size: 1.5em;
}

fieldset{
  border: none;
  width: 450px;
  margin: 0px auto;
  padding: 0;
}

@media (max-width: 768px) {
  main.container {
    width: 100%;
    padding-top: 80px;
  }
  fieldset {
    width: 100%;
  }
  input[type="text"], input[type="password"] {
    width: 60%;
  }
  label {
    width: 90%;
  }
}

@import "nav";
